  <body>
    <div class="notif-declined-modal-div">
      <div class="denied-job-modal-div1">
        <div class="title-and-close-div17">
          <div class="title-div35">
            <img class="vector-icon84" alt="" src="assets/public/vector81.svg" />
            <div class="title-div36">Application Declined</div>
          </div>
          <img
            class="vector-icon85"
            alt=""
            src="assets/public/vector82.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="main-section-div22">
          <div class="were-sorry-your-application2">
            <p class="were-sorry-your2">We’re sorry, your application for</p>
            <p class="technical-writer-needed6">
              “Technical Writer needed” has been declined
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
