  <body>
    <div class="notif-interview-modal-div">
      <div class="interview-modal-div1">
        <div class="title-and-close-div18">
          <div class="title-div37">
            <div class="title-div38">An Interview has been setup!</div>
          </div>
          <img
            class="vector-icon86"
            alt=""
            src="assets/public/vector17.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="main-section-div23">
          <div class="details-div27">
            <div class="an-interview-for-technical-wr1">
              An interview for “Technical Writer needed” has been set up! Click
              the button below to add it to your calendar.
            </div>
          </div>
          <button class="action-button1">
            <div class="add-div2">
              <div class="accept-div2">Add to Calendar</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </body>
