  <body>
    <main class="interests-main">
      <div class="interests-scrollable-div">
        <div class="interests-div6">
          <div class="interest-bubble-div">
            <div class="marketing-div">Marketing</div>
            <div class="fields-div">
              <button class="interest-bubble-item-button">
                <div class="field-1-div">Field 1</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="back-button-div">
        <button class="done-button" id="doneButton" (click)="openProfile()">
          <div class="edit-profile-div27">Done</div>
        </button>
      </div>
      <div class="top-section-div2">
        <div class="interests-div7">Interests</div>
        <div class="please-choose-your-interests">
          Please choose your interests (maximum 6)
        </div>
      </div>
      <button class="back-button3" id="backButton" routerLink="/sign-up-student">
        <img class="vector-icon102" alt="" src="assets/public/vector32.svg" />
      </button>
    </main>
  </body>

