  <body>
    <div class="notif-badge-modal-div">
      <div class="badge-recieved-popup-div1">
        <div class="title-and-close-div16">
          <div class="title-div33">
            <img class="vector-icon82" alt="" src="assets/public/vector79.svg" />
            <div class="title-div34">Good Job! You have recieved a badge</div>
          </div>
          <img
            class="vector-icon83"
            alt=""
            src="assets/public/vector80.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="main-section-div21">
          <div class="title-div34">
            <p class="your-hard-work1">Your hard work has paid off! You have</p>
            <p class="recieved-a-badge1">recieved a badge for “Word 365”</p>
          </div>
        </div>
      </div>
    </div>
  </body>
