  <body>
    <div class="edit-profile-recruiter-modal-div">
      <div class="edit-profile-recruiter-modal-div1">
        <div class="title-and-close-div">
          <div class="closebutton-div">
            <img
              class="vector-icon1"
              alt=""
              src="assets/public/vector16.svg"
              id="popupvectorIcon"
              [mat-dialog-close]="true"
            />
          </div>
          <div class="edit-profile-div">Edit Profile</div>
        </div>
        <div class="main-section-div">
          <div class="upload-pic-div">
            <div class="profile-picture-div">
              <img class="ellipse-icon" alt="" src="assets/public/ellipse-2@2x.png" />
            </div>
            <button class="upload-picture-button">Upload picture</button>
          </div>
          <div class="personal-details-div">
            <div class="title-div">
              <div class="personal-details-div1">Personal Details</div>
            </div>
            <div class="content-div">
              <input
                class="name-input"
                type="text"
                placeholder="Organisation name"
              />
            </div>
          </div>
          <div class="location-div">
            <div class="personal-details-div1">Location</div>
            <div class="location-div2">
              <img class="vector-icon2" alt="" src="assets/public/vector33.svg" /><input
                class="johannesburg-input"
                type="text"
                placeholder="Location"
              />
            </div>
          </div>
          <div class="content-div">
            <div class="personal-details-div1">Social Media</div>
            <div class="media-div">
              <div class="instagram-div">
                <img
                  class="instagram-1-icon"
                  alt=""
                  src="assets/public/instagram-1@2x.png"
                /><input
                  class="johannesburg-input"
                  type="text"
                  placeholder="Link"
                />
              </div>
              <div class="instagram-div">
                <img
                  class="facebook-1-icon"
                  alt=""
                  src="assets/public/facebook-1@2x.png"
                /><input
                  class="johannesburg-input"
                  type="text"
                  placeholder="Link"
                />
              </div>
              <div class="instagram-div">
                <img
                  class="linkedin-1-icon"
                  alt=""
                  src="assets/public/linkedin-1@2x.png"
                /><input
                  class="johannesburg-input"
                  type="text"
                  placeholder="Link"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-section-div">
          <button class="button-primary" id="popupbuttonPrimary">
            <div class="save-div">Save</div>
          </button>
        </div>
      </div>
    </div>
  </body>

