@keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
        3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
        5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
        7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .change-password {
    position: relative;
    display: inline-block;
  }
  .vector-icon91 {
    position: relative;
    width: 14.56px;
    height: 14.57px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .button-change:active,
  .vector-icon91:active {
    animation: 1s ease 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  .closebutton-div8 {
    width: 1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .title-and-close-div22 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xl);
  }
  .input-field,
  .please-input-the-following-inf {
    align-self: stretch;
    position: relative;
    display: inline-block;
  }
  .please-input-the-following-inf {
    font-weight: 300;
  }
  .input-field {
    border: 0;
    background-color: transparent;
    flex: 1;
    font-size: var(--font-size-11xl);
    font-family: var(--font-hind-madurai);
    color: var(--color-black);
    text-align: left;
  }
  .current-pass-input-div {
    border-radius: var(--br-md);
    background-color: var(--color-gray-100);
    width: 289px;
    height: 37px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-10xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .current-password-div,
  .new-passwords-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .new-passwords-div {
    gap: var(--gap-9xl);
  }
  .main-section-div27,
  .passwords-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .passwords-div {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
  }
  .main-section-div27 {
    align-items: center;
    justify-content: center;
    gap: var(--gap-9xl);
    text-align: left;
    font-size: var(--font-size-4xs);
    font-family: var(--font-hind-siliguri);
  }
  .change-pass-div {
    position: relative;
    font-size: var(--font-size-3xl);
    font-family: var(--font-montserrat);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
  }
  .bottom-section-div14,
  .button-change {
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .button-change {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl);
    background-color: var(--color-gold-200);
    border-radius: var(--br-4xl);
    flex-direction: row;
  }
  .bottom-section-div14 {
    align-self: stretch;
    flex-direction: column;
    padding: var(--padding-10xl) 0 var(--padding-5xl);
  }
  .change-password-modal-div,
  .change-password-modal-div1 {
    display: flex;
    flex-direction: column;
    padding: var(--padding-5xl);
    box-sizing: border-box;
  }
  .change-password-modal-div1 {
    border-radius: var(--br-md);
    background-color: var(--color-white);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
  }
  .change-password-modal-div {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1050;
    transform: translate(-50%, -50%);
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: var(--font-size-20xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  