  <body>
    <div class="change-password-modal-div">
      <div class="change-password-modal-div1">
        <div class="title-and-close-div22">
          <div class="change-password">Change Password</div>
          <div class="closebutton-div8">
            <img
              class="vector-icon91"
              alt=""
              src="assets/public/vector.svg"
              id="popupvectorIcon"
              [mat-dialog-close]="true"
            />
          </div>
        </div>
        <div class="main-section-div27">
          <div class="please-input-the-following-inf">
            Please input the following information:
          </div>
          <div class="passwords-div">
            <div class="current-password-div">
              <div class="current-pass-input-div">
                <input
                  class="input-field"
                  type="password"
                  placeholder="Current Password"
                />
              </div>
            </div>
            <div class="new-passwords-div">
              <div class="current-pass-input-div">
                <input
                  class="input-field"
                  type="password"
                  placeholder="New Password"
                />
              </div>
              <div class="current-pass-input-div">
                <input
                  class="input-field"
                  type="password"
                  placeholder="Confirm New Password"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-section-div14">
          <button class="button-change">
            <div class="change-pass-div">Confirm</div>
          </button>
        </div>
      </div>
    </div>
  </body>
