  <body>
    <div class="sign-in-div">
      <div class="sign-in-page-div">
        <div class="title-div18"><div class="sign-in-div1">Sign In</div></div>
        <div class="main-section-div15">
          <div class="sign-in-details-div">
            <input
              class="e-mail-input"
              type="text"
              placeholder="Email Address"
              required
              autofocus
            /><input
              class="e-mail-input"
              type="password"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="bottom-section-div7">
          <button class="button-primary7" id="buttonPrimary">
            <div class="edit-profile-div11">Sign In</div>
          </button>
        </div>
      </div>
      <button class="back-button" id="backButton" routerLink="/welcome">
        <img class="vector-icon32" alt="" src="assets/public/vector32.svg" />
      </button>
    </div>
  </body>
