  <body>
    <div class="upload-cv-modal-div">
      <div class="main-section-div11">
        <div class="close-and-title">
          <div class="closebutton-div3">
            <img
              class="vector-icon24"
              alt=""
              src="assets/public/vector.svg"
              id="popupvectorIcon"
              [mat-dialog-close]="true"
            />
          </div>
          <div class="upload-cv-div">Upload CV</div>
        </div>
        <div class="details-div2">
          <div class="no-cv-has-been-attached">No CV has been attached</div>
        </div>
        <div class="uploadcv-div">
          <input class="rectangle-input" type="file" />
        </div>
        <div class="cv-modal-item-div">
          <div class="my-cv-box-div">
            <div class="no-cv-has-been-attached">My CV</div>
            <div class="options-div">
              <img class="vector-icon25" alt="" src="assets/public/vector25.svg" /><img
                class="vector-icon25"
                alt=""
                src="assets/public/vector26.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="bottomsection-div">
        <div class="upload-div">
          <div class="button-primary-div1">
            <div class="no-cv-has-been-attached">Upload</div>
          </div>
        </div>
      </div>
    </div>
  </body>
