  <body>
    <div class="edit-profile-modal-div">
      <div class="title-and-close-div10">
        <div class="closebutton-div2">
          <img
            class="vector-icon22"
            alt=""
            src="assets/public/vector22.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="edit-profile-div5">Edit Profile</div>
      </div>
      <div class="main-section-div10">
        <div class="change-profile-pic-div">
          <div class="profile-picture-div1">
            <img class="ellipse-icon1" alt="" src="assets/public/ellipse-1@2x.png" />
          </div>
          <button class="change-profile-picture">Change Profile Picture</button>
        </div>
        <div class="title-and-close-div10">
          <div class="profile-picture-div1">
            <div class="institute-div">Personal Details</div>
          </div>
          <div class="content-div1">
            <input class="name-input1" type="text" placeholder="Name" /><input
              class="name-input1"
              type="text"
              placeholder="Surname"
            />
          </div>
        </div>
        <div class="education-div">
          <div class="institute-div">Institute</div>
          <input
            class="eduvos-input"
            type="text"
            placeholder="Name of your institution"
          />
        </div>
        <div class="education-div">
          <div class="institute-div">Qualification</div>
          <select class="eduvos-select">
            <option value="Information Technology">
              Information Technology
            </option>
          </select>
        </div>
        <div class="education-div">
          <div class="institute-div">Location</div>
          <div class="location-div7">
            <img class="vector-icon23" alt="" src="assets/public/vector23.svg" /><input
              class="johannesburg-input1"
              type="text"
              placeholder="Your location"
            />
          </div>
        </div>
      </div>
      <div class="bottom-section-div4">
        <button class="button-primary4">
          <div class="edit-profile-div6">Save</div>
        </button>
      </div>
    </div>
  </body>

