    <!-- <app-discover></app-discover> -->
    <!-- Hidden because it over laps with other items<app-cover-letter></app-cover-letter> -->
    <!-- <app-interests></app-interests>
    <app-jobs></app-jobs>
    <app-notifications></app-notifications>
    <app-profile-preview></app-profile-preview>
    <app-profile-recruiters></app-profile-recruiters>
    <app-roles></app-roles> -->

    <!-- <app-security-settings></app-security-settings>-->
    <!-- <app-shortlist></app-shortlist>
    <app-sign-in></app-sign-in>
    <app-sign-up-recruiter></app-sign-up-recruiter>
    <app-sign-up-student></app-sign-up-student>
    
    <app-profile-student></app-profile-student>
    <app-tips></app-tips>
    <app-upskilling></app-upskilling>
    <app-view-details></app-view-details>-->
    <router-outlet></router-outlet>

    