  <body>
    <div class="add-edit-job-post-modal-div1">
      <div class="add-edit-job-post-modal-div2">
        <div class="title-and-close-div25">
          <div class="addedit-job-post1">Add/Edit Job Post</div>
          <button class="closebutton3" id="popupclosebutton" [matDialogClose]="true">
            <img class="vector-icon99" alt="" src="assets/public/vector2.svg" />
          </button>
        </div>
        <div class="main-section-div31">
          <div class="title-div45">
            <div class="addedit-job-post1">Title</div>
            <div class="title-div45">
              <input
                class="generic-input-field2"
                type="text"
                placeholder="Title"
              />
            </div>
          </div>
          <div class="title-div45">
            <div class="addedit-job-post1">Duration</div>
            <select class="component-select5">
              <option value="1">1—3 months</option>
              <option value="2">3—6 months</option>
              <option value="3">6+ months</option>
            </select>
          </div>
          <div class="title-div45">
            <div class="addedit-job-post1">Payrate (/hr)</div>
            <input class="component-input3" type="number" />
          </div>
          <div class="title-div45">
            <div class="addedit-job-post1">Description</div>
            <textarea
              class="generic-input-field-textarea2"
              placeholder="Enter job description"
              rows="{6}"
            ></textarea>
          </div>
          <div class="title-div45">
            <div class="addedit-job-post1">Industry</div>
            <select class="component-select6">
              <option value="1">Information Technology</option>
            </select>
          </div>
          <div class="title-div45">
            <div class="addedit-job-post1">Job Type</div>
            <select class="component-select6">
              <option value="1">Internship</option>
            </select>
          </div>
        </div>
        <div class="bottom-section-div17" id="popupbottomSectionContainer">
          <button class="button-primary13">
            <div class="edit-profile-div25">Add</div>
          </button>
        </div>
      </div>
    </div>
  </body>

