  <body>
    <div class="report-issues-modal-div1">
      <div class="title-and-close-div29">
        <div class="report-issues-div1">Report Issues</div>
        <img
          class="closebutton-icon2"
          alt=""
          src="assets/public/closebutton@2x.png"
          id="popupclosebuttonIcon"
          [mat-dialog-close]="true"
        />
      </div>
      <div class="main-section-div34">
        <div class="please-explain-the-issue1">
          Please explain the issue in detail:
        </div>
        <div class="generic-input-field-div2">
          <textarea
            class="input-field-textarea2"
            placeholder="Issue description"
            rows="{5}"
          ></textarea
          >
        </div>
      </div>
      <div class="bottom-section-div17">
        <button class="report-button1">
          <div class="report-div1">Report</div>
        </button>
      </div>
    </div>
  </body>
