  <body>
    <div class="profile-preview-div">
      <div class="profile-page-div1">
        <div class="profile-page-div2">
          <div class="background-div1">
            <div class="hexagons-1-div1">
              <img class="vector-icon37" alt="" />
            </div>
          </div>
          <div class="profile-picture-div4">
            <img class="ellipse-icon4" alt="" src="assets/public/ellipse-1@2x.png" />
          </div>
          <div class="profile-items-div3">
            <div class="points-and-edits">
              <div class="points-div">
                <img class="group-icon" alt="" src="assets/public/group.svg" />
                <div class="number-div">5</div>
              </div>
              <div class="button-secondary-div">
                <div class="edit-profile-div13">Edit Profile</div>
              </div>
            </div>
            <div class="name-div1">
              <b class="edit-profile-div13">Mary Jane</b>
            </div>
            <div class="meta-data-div2">
              <div class="meta-data-student-div">
                <div class="meta-item-1-div">
                  <img class="vector-icon38" alt="" src="assets/public/vector36.svg" />
                  <div class="eduvos-2021-2023-div">Eduvos (2021-2023)</div>
                </div>
                <div class="meta-item-1-div">
                  <img class="dob-1-icon" alt="" src="assets/public/dob-1.svg" />
                  <div class="years-old-div">20 years old</div>
                </div>
                <div class="meta-item-1-div">
                  <img class="dob-1-icon" alt="" src="assets/public/location-1.svg" />
                  <div class="years-old-div">Johannesburg</div>
                </div>
              </div>
            </div>
            <div class="line-divider1"><div class="line-divider-11"></div></div>
            <div class="about-me-div2">
              <div class="about-me-box-div2">
                <div class="about-me-box-div3">
                  <div class="frame-div2">
                    <div class="number-div">About me</div>
                    <img class="edit-1-icon" alt="" src="assets/public/edit-1.svg" />
                  </div>
                  <div class="lorem-ipsum-dolor-sit-amet-co1">
                    <p class="lorem-ipsum-dolor">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ut et massa mi. Aliquam in hendrerit urna.
                    </p>
                    <p class="lorem-ipsum-dolor">
                      Pellentesque sit amet sapien fringilla, mattis ligula
                      consectetur, ultrices mauris.
                    </p>
                    <p class="lorem-ipsum-dolor">
                      Maecenas vitae mattis tellus. Nullam quis imperdiet augue.
                    </p>
                    <p class="lorem-ipsum-dolor">&nbsp;</p>
                    <p class="vestibulum-auctor-ornare">
                      Vestibulum auctor ornare leo, non suscipit magna interdum
                      eu.
                    </p>
                  </div>
                </div>
              </div>
              <div class="interests-div">
                <div class="interests-component-div">
                  <div class="interests-div1">
                    <div class="number-div">Interests</div>
                    <img class="edit-1-icon1" alt="" src="assets/public/edit-11.svg" />
                  </div>
                  <div class="interest-bubbles-div">
                    <div class="interests-bubble-div">
                      <div class="technical-writing-div">Technical writing</div>
                    </div>
                    <div class="interests-bubble-div">
                      <div class="technical-writing-div">JavaScript</div>
                    </div>
                    <div class="interests-bubble-div">
                      <div class="technical-writing-div">Web development</div>
                    </div>
                    <div class="interests-bubble-div">
                      <div class="technical-writing-div">Python</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-cv-div2">
              <div class="my-cv-box-div2">
                <div class="number-div">My CV</div>
                <div class="frame-div3"></div>
                <button class="forward-1-button" id="forward1Button">
                  <img class="vector-icon39" alt="" src="assets/public/vector37.svg" />
                </button>
              </div>
            </div>
            <div class="profile-box-div">
              <div class="profile-box-div1">
                <div class="frame-div4">
                  <div class="title-div19">
                    <div class="frame-div5">
                      <div class="number-div">Technical Writing</div>
                      <img class="edit-2-icon" alt="" src="assets/public/edit-2.svg" />
                    </div>
                    <div class="dropdown-box-div">
                      <div class="frame-div6">
                        <div class="number-div">Technical Writing</div>
                      </div>
                      <img
                        class="drop-down-1-icon"
                        alt=""
                        src="assets/public/drop-down-1.svg"
                      />
                    </div>
                  </div>
                  <div class="desc-div6">
                    <div class="edit-profile-div13">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ut et massa mi.
                    </div>
                  </div>
                  <div class="project-collection-div">
                    <div class="projects-box-div">
                      <div class="title-div20">
                        <div class="number-div">Projects</div>
                        <img class="add-1-icon" alt="" src="assets/public/add-1.svg" />
                      </div>
                      <div class="project-collection-div1">
                        <div class="project-card-div">
                          <div class="project-card-div1">
                            <div class="frame-div7">
                              <div class="project-name-and-options-div">
                                <div class="project-name-div">
                                  <div class="number-div">
                                    Blog Writing Project
                                  </div>
                                </div>
                                <div class="project-options-div">
                                  <img
                                    class="edit-3-icon"
                                    alt=""
                                    src="assets/public/edit-3.svg"
                                  /><img
                                    class="close-1-icon"
                                    alt=""
                                    src="assets/public/close-1.svg"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="project-card-div">
                          <div class="project-card-div1">
                            <div class="frame-div7">
                              <div class="project-name-and-options-div">
                                <div class="project-name-div">
                                  <div class="number-div">
                                    Technical Paper Example
                                  </div>
                                </div>
                                <div class="project-options-div">
                                  <img
                                    class="edit-3-icon"
                                    alt=""
                                    src="assets/public/edit-31.svg"
                                  /><img
                                    class="close-1-icon"
                                    alt=""
                                    src="assets/public/close-1.svg"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ratings-and-badges-div1">
              <div class="ratings-div3">
                <div class="ratings-box-div1">
                  <div class="heading-div3">
                    <div class="edit-profile-div13">Ratings</div>
                  </div>
                  <div class="ratings-div5">
                    <div class="rating-div4">
                      <div class="stars-div4">
                        <img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-13.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-33.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-43.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-53.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-23.svg"
                        />
                      </div>
                      <div class="rater-div3">
                        <div class="googlecom-div3">—Google.com</div>
                      </div>
                      <div class="comment-div4">
                        <div class="edit-profile-div13">
                          Lorem ipsum dolor sit amet consectetur.
                        </div>
                      </div>
                    </div>
                    <div class="rating-div4">
                      <div class="stars-div4">
                        <img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-14.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-34.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-44.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-54.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-24.svg"
                        />
                      </div>
                      <div class="rater-div3">
                        <div class="googlecom-div3">—Google.com</div>
                      </div>
                      <div class="comment-div4">
                        <div class="edit-profile-div13">
                          Lorem ipsum dolor sit amet consectetur.
                        </div>
                      </div>
                    </div>
                    <div class="rating-div4">
                      <div class="stars-div4">
                        <img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-15.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-35.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-45.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-55.svg"
                        /><img
                          class="star-1-icon3"
                          alt=""
                          src="assets/public/star-25.svg"
                        />
                      </div>
                      <div class="rater-div3">
                        <div class="googlecom-div3">—Google.com</div>
                      </div>
                      <div class="comment-div4">
                        <div class="edit-profile-div13">
                          Lorem ipsum dolor sit amet consectetur.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="badges-div">
                <div class="badges-box-div">
                  <div class="heading-div4">
                    <div class="number-div">Badges</div>
                  </div>
                  <div class="badges-div2">
                    <div class="badge-container-div">
                      <img
                        class="badge-1-icon"
                        alt=""
                        src="assets/public/badge-1.svg"
                      />
                      <div class="details-div5">
                        <div class="word-365-div">Word 365</div>
                        <div class="scholarspace-div">ScholarSpace</div>
                      </div>
                    </div>
                    <div class="badge-container-div">
                      <img
                        class="badge-1-icon"
                        alt=""
                        src="assets/public/badge-11.svg"
                      />
                      <div class="details-div5">
                        <div class="word-365-div">Powerpoint 365</div>
                        <div class="scholarspace-div">ScholarSpace</div>
                      </div>
                    </div>
                    <div class="badge-container-div">
                      <img
                        class="badge-1-icon"
                        alt=""
                        src="assets/public/badge-12.svg"
                      />
                      <div class="details-div5">
                        <div class="word-365-div">Excel 365</div>
                        <div class="scholarspace-div">ScholarSpace</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="vector-icon40"
        alt=""
        src="assets/public/vector35.svg"
        id="vectorIcon3"
      />
    </div>

    <div id="uploadCVModalPopup" class="popup-overlay" style="display: none">
      <div class="upload-cv-modal-div1">
        <div class="upload-cv-modal-div2">
          <div class="main-section-div12">
            <div class="close-and-title1">
              <div class="closebutton-div4">
                <img
                  class="vector-icon27"
                  alt=""
                  src="assets/public/vector.svg"
                  id="popupvectorIcon"
                />
              </div>
              <div class="upload-cv-div1">Upload CV</div>
            </div>
            <div class="details-div3">
              <div class="no-cv-has-been-attached1">
                No CV has been attached
              </div>
            </div>
            <div class="uploadcv-div1">
              <input class="rectangle-input1" type="file" />
            </div>
            <div class="cv-modal-item-div1">
              <div class="my-cv-box-div1">
                <div class="no-cv-has-been-attached1">My CV</div>
                <div class="options-div1">
                  <img
                    class="vector-icon28"
                    alt=""
                    src="assets/public/vector25.svg"
                  /><img
                    class="vector-icon28"
                    alt=""
                    src="assets/public/vector26.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="bottomsection-div1">
            <div class="upload-div1">
              <div class="button-primary-div2">
                <div class="no-cv-has-been-attached1">Upload</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var popupvectorIcon = document.getElementById("popupvectorIcon");
      if (popupvectorIcon) {
        popupvectorIcon.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var forward1Button = document.getElementById("forward1Button");
      if (forward1Button) {
        forward1Button.addEventListener("click", function () {
          var popup = document.getElementById("uploadCVModalPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var vectorIcon3 = document.getElementById("vectorIcon3");
      if (vectorIcon3) {
        vectorIcon3.addEventListener("click", function (e) {
          window.location.href = "./view-details-active.html";
        });
      }
      </script>
  </body>
