  <body>
    <div class="nav-bar-recruiter-div">
      <a class="chat1" routerLink="chat"
        ><img class="chat-icon1" alt="" src="assets/public/chat1.svg" /></a
      ><a class="jobs-a" routerLink="jobs"
        ><img class="jobs-icon" alt="" src="assets/public/jobs.svg" id="jobsIcon" /></a
      ><a class="chat1" routerLink="recruiter-profile"
        ><img class="profile-icon1" alt="" src="assets/public/profile1.svg"
      /></a>
    </div>

    <script>
      var jobsIcon = document.getElementById("jobsIcon");
      if (jobsIcon) {
        jobsIcon.addEventListener("click", function (e) {
          // Please sync "Jobs-posted" to the project
        });
      }
      </script>
  </body>
