  <body>
    <div class="notif-approved-modal-div">
      <div class="approved-job-modal-div1">
        <div class="title-and-close-div20">
          <div class="title-div41">
            <img class="vector-icon89" alt="" src="assets/public/vector86.svg" />
            <div class="title-div42">Application Approved</div>
          </div>
          <img
            class="vector-icon90"
            alt=""
            src="assets/public/vector87.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="main-section-div25">
          <div class="details-div28">
            <div class="your-application-for-technica1">
              Your application for “Technical Writer needed” has been approved!
            </div>
          </div>
          <div class="action-buttons-div1">
            <button class="reject-button1">
              <div class="reject-div1">Reject</div></button
            ><button class="accept-button1">
              <div class="accept-div3">Accept</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
