@keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
        3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
        5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
        7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .generic-input-field1 {
    border: 0;
    background-color: var(--color-gray-100);
    border-radius: 9.66px;
    display: flex;
    flex-direction: row;
    padding: 5.683229446411133px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-icon,
  .vector-icon58 {
    position: relative;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
  .vector-icon58 {
    width: 22.91px;
  }
  .filter-button,
  .search-div {
    display: flex;
    flex-direction: row;
  }
  .filter-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .search-div {
    align-items: center;
    justify-content: center;
    gap: var(--gap-7xs);
  }
  .vector-icon59 {
    position: relative;
    width: 25.01px;
    height: 23.73px;
    flex-shrink: 0;
  }
  .save-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .options-div2 {
    align-self: stretch;
    height: 33.53px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .avaliable-jobs-div {
    position: relative;
    display: inline-block;
  }
  .title-div29 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ellipse-icon5 {
    position: relative;
    width: 66.31px;
    height: 66.31px;
    flex-shrink: 0;
    object-fit: cover;
    cursor: pointer;
  }
  .profile-picture-div5 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
  }
  .vector-icon60 {
    position: relative;
    width: 13.12px;
    height: 11.74px;
    flex-shrink: 0;
    margin-top: -2.76px;
  }
  .profile-div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .technical-writer-needed5 {
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .vector-icon61 {
    position: relative;
    width: 12px;
    height: 14px;
    flex-shrink: 0;
  }
  .title-div30 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .duration-icon3 {
    position: relative;
    width: 11.49px;
    height: 11.49px;
    flex-shrink: 0;
  }
  .job-meta-data-div3,
  .job-meta-data-item-div9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .job-meta-data-item-div9 {
    align-items: center;
    gap: var(--gap-13xs);
  }
  .job-meta-data-div3 {
    align-items: flex-start;
    gap: 6.74px;
  }
  .internship-div {
    position: relative;
    font-weight: 600;
    font-family: var(--font-hind-madurai);
    display: inline-block;
  }
  .meta-data-div5 {
    display: flex;
    flex-direction: column;
    padding: 0 0 4.834374904632568px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-18xs);
  }
  .lorem-ipsum-dolor-sit-amet-co5 {
    align-self: stretch;
    position: relative;
    display: inline-block;
  }
  .description-div3 {
    align-self: stretch;
    flex-direction: column;
    font-size: var(--font-size-12xs);
    font-family: var(--font-hind-madurai);
  }
  .description-div3,
  .details-div22,
  .main-section-div17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .details-div22 {
    flex: 1;
    flex-direction: column;
  }
  .main-section-div17 {
    align-self: stretch;
    flex-direction: row;
    gap: 3.45px;
  }
  .view-details-div {
    position: relative;
    font-size: var(--font-size-12xs);
    font-family: var(--font-montserrat);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
  }
  .button-primary10 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) 6.215625286102295px;
    background-color: var(--color-gold-200);
    border-radius: var(--br-4xl);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .bottom-section-div11,
  .job-card-div {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .bottom-section-div11 {
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-12xs);
    font-family: var(--font-hind-madurai);
  }
  .job-card-div {
    border-radius: 11.74px;
    background-color: var(--color-gray-100);
    flex-direction: column;
    padding: 6.90625px;
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .discover-layout-div,
  .job-cards-div,
  .jobs-div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .job-cards-div {
    align-self: stretch;
    font-size: 12.56px;
  }
  .discover-layout-div,
  .jobs-div1 {
    gap: var(--gap-9xl);
  }
  .jobs-div1 {
    align-self: stretch;
  }
  .discover-layout-div {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--padding-5xl);
    box-sizing: border-box;
  }
  .vector-icon64 {
    position: relative;
    width: 39px;
    height: 38.54px;
    flex-shrink: 0;
  }
  .scroll-to-top-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 19px;
    bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .discover-div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 800px;
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--color-black);
    font-family: var(--font-hind-siliguri);
  }
  .some-title-text1 {
    position: relative;
    display: inline-block;
  }
  .vector-icon18 {
    position: relative;
    width: 14.56px;
    height: 14.57px;
    flex-shrink: 0;
  }
  .closebutton1,
  .title-and-close-div8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .closebutton1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-items: center;
  }
  .bottom-section-button:active,
  .button-primary3:active,
  .closebutton-icon:active,
  .closebutton1:active {
    animation: 1s ease 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  .title-and-close-div8 {
    align-items: flex-start;
    gap: var(--gap-10xl);
  }
  .vector-icon19 {
    position: relative;
    width: 14.55px;
    height: 17.78px;
    flex-shrink: 0;
  }
  .location-input {
    border: 0;
    background-color: transparent;
    position: relative;
    font-size: 12.93px;
    font-family: var(--font-hind-madurai);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
  }
  .location-div4 {
    align-self: stretch;
    border-radius: 13.74px;
    background-color: var(--color-gray-100);
    flex-direction: row;
    padding: 8.081263542175293px;
    box-sizing: border-box;
    align-items: center;
    gap: 8.08px;
  }
  .component-input1,
  .location-div3,
  .location-div4 {
    display: flex;
    justify-content: flex-start;
  }
  .location-div3 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .component-input1 {
    border: 0;
    background-color: var(--color-gray-100);
    border-radius: var(--br-6xs);
    width: 72px;
    flex-direction: row;
    padding: var(--padding-md) var(--padding-8xs) var(--padding-md)
      var(--padding-3xl);
    box-sizing: border-box;
    align-items: center;
  }
  .from-and-to-div,
  .from-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .from-and-to-div {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-9xl);
    font-size: var(--font-size-7xs);
  }
  .component-select3,
  .main-section-div8 {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .component-select3 {
    border-radius: var(--br-6xs);
    background-color: var(--color-gray-100);
    width: 163.82px;
    flex-direction: row;
    padding: var(--padding-md) var(--padding-8xs) var(--padding-md)
      var(--padding-3xl);
    align-items: center;
    gap: var(--gap-5xl);
  }
  .main-section-div8 {
    align-self: stretch;
    flex-direction: column;
    padding: var(--padding-xs) 0;
    align-items: flex-start;
    gap: var(--gap-9xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    font-family: var(--font-hind-siliguri);
  }
  .edit-profile-div3 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-8xl);
    font-family: var(--font-montserrat);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    height: 23.34px;
  }
  .button-primary-div {
    align-self: stretch;
    border-radius: var(--br-4xl);
    background-color: var(--color-gold-200);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .bottom-section-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .add-filters-modal-div,
  .add-filters-modal-div1 {
    display: flex;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .add-filters-modal-div1 {
    border-radius: var(--br-md);
    background-color: var(--color-white);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    gap: var(--gap-7xs);
  }
  .add-filters-modal-div {
    position: relative;
    flex-direction: row;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: var(--font-size-20xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  .job-details-div {
    position: relative;
    display: inline-block;
  }
  .closebutton-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .title-and-close-div9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .technical-writer-needed2 {
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .title-div16 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .duration-icon {
    position: relative;
    width: 14.5px;
    height: 14.5px;
    flex-shrink: 0;
  }
  .job-meta-data-item-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-12xs);
  }
  .job-meta-data-div,
  .meta-data-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .job-meta-data-div {
    gap: var(--gap-10xs);
  }
  .meta-data-div {
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-16xs);
  }
  .lorem-ipsum-dolor-sit-amet-co {
    align-self: stretch;
    position: relative;
    display: inline-block;
  }
  .description-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
    font-family: var(--font-hind-madurai);
  }
  .posted-1-september-2022 {
    position: relative;
    font-size: var(--font-size-5xs);
    font-family: var(--font-hind-madurai);
    display: inline-block;
  }
  .main-section-div9 {
    align-self: stretch;
    height: 275.88px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    text-align: left;
    font-size: var(--font-size-7xl);
    font-family: var(--font-hind-siliguri);
  }
  .edit-profile-div4 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-8xl);
    font-family: var(--font-montserrat);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    height: 23.34px;
  }
  .bottom-section-div3,
  .button-primary3 {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .button-primary3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl);
    background-color: var(--color-gold-200);
    border-radius: var(--br-4xl);
    flex-direction: row;
    box-sizing: border-box;
  }
  .bottom-section-div3 {
    flex-direction: column;
  }
  .view-details-modal-div {
    position: relative;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: var(--font-size-20xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  