@keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
        3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
        5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
        7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .vector-icon87 {
    position: relative;
    width: 68.81px;
    height: 68.81px;
    flex-shrink: 0;
  }
  .title-div40 {
    align-self: stretch;
    position: relative;
    display: inline-block;
  }
  .title-div39 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2xl);
  }
  .vector-icon88 {
    position: relative;
    width: 11.92px;
    height: 11.94px;
    flex-shrink: 0;
    cursor: pointer;
    margin-left: -12.29px;
  }
  .vector-icon88:active {
    animation: 1s ease 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  .title-and-close-div19 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .were-sorry-your3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .technical-writer-needed7 {
    margin: 0;
  }
  .were-sorry-your-application3 {
    align-self: stretch;
    position: relative;
    line-height: 123.7%;
    display: inline-block;
  }
  .closed-job-modal-div1,
  .main-section-div24,
  .notif-closed-modal-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-section-div24 {
    align-self: stretch;
    font-size: var(--font-size-xs);
    font-family: var(--font-hind-siliguri);
  }
  .closed-job-modal-div1,
  .notif-closed-modal-div {
    box-sizing: border-box;
  }
  .closed-job-modal-div1 {
    border-radius: var(--br-2xs);
    background-color: var(--color-white);
    box-shadow: 0 0 11.47px rgba(0, 0, 0, 0.25);
    width: 308px;
    padding: var(--padding-lg);
    gap: var(--gap-6xl);
  }
  .notif-closed-modal-div {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    transform: translate(-50%, -50%);
    padding: var(--padding-5xl);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  