  <body>
    <div class="notif-closed-modal-div">
      <div class="closed-job-modal-div1">
        <div class="title-and-close-div19">
          <div class="title-div39">
            <img class="vector-icon87" alt="" src="assets/public/vector84.svg" />
            <div class="title-div40">Application Closed</div>
          </div>
          <img
            class="vector-icon88"
            alt=""
            src="assets/public/vector14.svg"
            id="popupvectorIcon"
            [mat-dialog-close]="true"
          />
        </div>
        <div class="main-section-div24">
          <div class="were-sorry-your-application3">
            <p class="were-sorry-your3">We’re sorry, your application for</p>
            <p class="technical-writer-needed7">
              “Technical Writer needed” has been closed
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>